@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

*, a 
{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Big Shoulders Display", system-ui;
  font-size: 12px; 
  color: hsl(0, 0%, 95%);
}

.container {
    display: grid;
    align-items:center;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px auto;
    max-width:950px;
}

.column {
    height: 400px;
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img img {
    height: 40px;
    width: 64px
 }

 .heading {
   padding-top: 50px;
   padding-bottom: 20px;
 }

 h1 {
  font-size: 40px;
  font-weight: 700;
 }

 p {
  color: hsla(0, 0%, 100%, 0.75); 
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
 }

.button {
  align-items: center;
  border-radius: 25px;
  border: none;
  justify-items: center;
  height: 50px;
  width: 145px;
}

.first-column {
    background-color: hsl(31, 77%, 52%) ;
    border-radius: 12px 0px 0px 12px;
 }
 .first-column .button {
    color: hsl(31, 77%, 52%);
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
 }

 .second-column {
    background-color: hsl(184, 100%, 22%) ;
 }
 .second-column .button {
    color: hsl(184, 100%, 22%) ;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
 }

 .third-column{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 12px 12px 0px;
 }
 .third-column .button {
    color: hsl(179, 100%, 13%) ;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
 }

 .button:hover{
   background-color: transparent;
   color: hsla(0, 0%, 100%, 0.75);
   border: solid 2px hsl(0, 0%, 95%);
 }

 @media (max-width: 768px){
    .container {
       grid-template-columns: repeat(1, 3fr);
       margin: 10px;
    }
    .first-column {
      border-radius: 12px 12px 0px 0px;
    }
    .third-column{
      border-radius: 0px 0px 12px 12px;
    }
  }